.breadcrumb-wrapper-card {
  & .ant-card-body {
    padding: 10px 15px;
  }
  // padding: 5px;
  display: inline-block;
  border-radius: 5px;
  margin: 13px 0px 13px 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.breadcrumb-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}
.breadcrumb {
  display: inline-block;
}

.back-button-icon {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.back-button-icon:hover {
  cursor: pointer;
}
