.order-detail-card {
  &:nth-child(1) {
    margin-bottom: 10px;
  }
  &-header {
    font-size: 18px;
    text-transform: uppercase;
  }
}
.order-items {
  min-height: 100% !important;
  & .order-detail-card {
    height: 100%;
  }
}

.order-detail-info {
  &-title {
    display: inline-block;
    margin-right: 10px;
    width: 100px;
    text-align: end;
  }
  &-content {
  }
}
